*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    font-size: 10px;
}

img {
    max-width: 100%;
    display: block;
    margin: 0;
    padding: 0;
}

/* Hero section */

nav {
    display: none;
}

.header {
    position: relative;
}

.logo {
    position: absolute;
    top: 0;
    margin: 2em 0 2em 2em;
}

.hero-message {
    position: absolute;
    top: 20%;
    text-transform: uppercase;
    color: hsl(0, 0%, 100%);
    font-size: 1.8rem;
    line-height: 1.5;
}

.hero-title,
.section-title,
.testimonials-title,
.cliet-name,
.btn {
    font-family: 'Fraunces', sans-serif;
}

.section-p,
.client-testimony,
.client-position {
    font-family: 'Barlow', sans-serif;
}

.hero-title {
    width: 70%;
    margin: 0 auto;
    font-weight: 900;
    letter-spacing: .2em;
    text-align: center;
}

.hero-arrow {
    width: 3.5rem;
    margin: 3.8em auto;
}

/* brand section */

.brand {
    background-color: hsl(26, 100%, 99%);
    text-align: center;
}


.section-title {
    font-size: 3.5rem;
    font-weight: 900;
    color: hsl(210, 31%, 20%);
    padding-top: 5rem;
}

.section-p{
    color: hsl(240, 4%, 53%);
    line-height: 1.5;
    font-weight: 600;
    margin: 2em auto;
    width: 90%;
    font-size: 1.8rem;
}

.btn {
    text-transform: uppercase;
    background: none;
    border: none;
    padding-bottom: 3em;
    font-weight: 900;
}

.btn-link {
    text-decoration: none;
}

a:link,
a:visited {
    color: hsl(210, 31%, 20%);
}

.yellow-accent {
    box-shadow: 0px 12px 9px 0px rgba(250, 212, 0, 0.5);
}

.pink-accent {
    box-shadow: 0px 12px 9px 0px hsl(7, 99%, 70%);
}

.row {
    display: flex;
    flex-direction: column-reverse;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* services section */

.services{
    text-align: center;
}
.service-items{
    position: relative;
}

.service-items-info{
    position: absolute;
    top: 53%;
    max-width: 100%;
}

.services-p, .services-title{
    color: hsl(166, 44%, 24%);
}

.services-p, .photography-services-p{
    width: 80%;
}

.photography-services-title, .photography-services-p{
    color: hsl(202, 52%, 28%);
}

/* Client testimonials */

.testimonials{
    background-color: hsl(26, 100%, 99%);
    padding-top: 2em;
    text-align: center;
}

.client-card + .client-card{
    margin-top: 5em;
}
.testimonials-title{
    text-align: center;
    color: hsl(210, 4%, 67%);
    font-weight: 700;
    font-size: 1.8rem;
    margin: 3em 0;
}

.client-img{
    margin: 0 auto 2.5em auto;
    border-radius: 50%;
    width: 70px;
}

.client-testimony{
    font-size: 1.8em;
    font-weight: 600;
    color: hsl(223, 4%, 35%);
    line-height: 1.5;
    width: 90%;
    margin: 0 auto 3em auto;
}

.cliet-name{
    font-size: 1.8em;
    font-weight: 700;
    color: #212121;
    margin-bottom: 0.8em;
}

.client-position{
    font-size: 1.5rem;
    font-weight: 700;
    color: hsl(210, 4%, 65%);
}



