*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    font-size: 10px;
}

img {
    max-width: 100%;
    display: block;
    margin: 0;
    padding: 0;
}

/* Hero section */

nav {
    display: none;
}

.header {
    position: relative;
}

.wrapper {
    position: absolute;
    top: 0;
    margin: 2em 0 2em 2em;
}

.hero-message {
    position: absolute;
    top: 20%;
    text-transform: uppercase;
    color: hsl(0, 0%, 100%);
    font-size: 1.8rem;
    line-height: 1.5;
}

.hero-title,
.section-title,
.testimonials-title,
.cliet-name,
.btn {
    font-family: 'Fraunces', sans-serif;
}

.section-p,
.client-testimony,
.client-position,
.footer-title,
.attribution {
    font-family: 'Barlow', sans-serif;
}

.hero-title {
    width: 70%;
    margin: 0 auto;
    font-weight: 900;
    letter-spacing: .2em;
    text-align: center;
}

.hero-arrow {
    width: 3.5rem;
    margin: 3.8em auto;
}

/* brand section */

.brand {
    background-color: hsl(26, 100%, 99%);
    text-align: center;
}


.section-title {
    font-size: 3.5rem;
    font-weight: 900;
    color: hsl(210, 31%, 20%);
    padding-top: 5rem;
}

.section-p{
    color: hsl(240, 4%, 53%);
    line-height: 1.5;
    font-weight: 600;
    margin: 2em auto;
    width: 90%;
    font-size: 1.8rem;
}

.btn {
    text-transform: uppercase;
    background: none;
    border: none;
    padding-bottom: 3em;
    font-weight: 900;
}

.btn-link {
    text-decoration: none;
}

a:link,
a:visited {
    color: hsl(210, 31%, 20%);
}

.yellow-accent {
    box-shadow: 0px 12px 9px 0px rgba(250, 212, 0, 0.5);
}

.pink-accent {
    box-shadow: 0px 12px 9px 0px hsl(7, 99%, 70%);
}

.row-1 {
    display: flex;
    flex-direction: column-reverse;
}

/* services section */

.services{
    text-align: center;
}
.service-items{
    position: relative;
}

.service-items-info{
    position: absolute;
    top: 53%;
    max-width: 100%;
}

.services-p, .services-title{
    color: hsl(166, 44%, 24%);
}

.services-p, .photography-services-p{
    width: 80%;
}

.photography-services-title, .photography-services-p{
    color: hsl(202, 52%, 28%);
}

/* Client testimonials */

.testimonials{
    background-color: hsl(26, 100%, 99%);
    padding-top: 2em;
    text-align: center;
    padding-bottom: 8em;
}

.client-card + .client-card{
    margin-top: 5em;
}
.testimonials-title{
    text-align: center;
    color: hsl(210, 4%, 67%);
    font-weight: 700;
    font-size: 1.8rem;
    margin: 3em 0;
}

.client-img{
    margin: 0 auto 2.5em auto;
    border-radius: 50%;
    width: 70px;
}

.client-testimony{
    font-size: 1.8em;
    font-weight: 600;
    color: hsl(223, 4%, 35%);
    line-height: 1.5;
    width: 90%;
    margin: 0 auto 3em auto;
}

.cliet-name{
    font-size: 1.8em;
    font-weight: 700;
    color: #212121;
    margin-bottom: 0.8em;
}

.client-position{
    font-size: 1.5rem;
    font-weight: 700;
    color: hsl(210, 4%, 65%);
}

/* gallery */

.gallery-row{
    display: flex;
    flex-wrap: wrap;
}
.image-column{
    flex-basis: 50%;
}

/* footer */
.footer{
    background-color: hsl(167, 51%, 70%);
    padding: 0.5em 0 10em 0;
    text-align: center;
}

.footer-title{
    margin: 1.8em auto;
    color: hsl(165, 44%, 24%);
    font-size: 3rem;
    font-weight: 600;
}

.footer-ul{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 8em auto;
}


.footer-link + .footer-link{
    /* flex-grow: 1; */
    margin-left: 4em;
}

.footer-ul a{
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Barlow', sans-serif;
}
.footer a:visited,
.footer a:link{
    color: hsl(167, 34%, 39%)
}

/* Social icons */
.social-icons{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 180px;
    margin: 0 auto;
    text-align: center;
}
.attribution{
    color: hsl(165, 44%, 24%);
    margin-top: 8em;
}

@media (min-width: 750px) {
    .container{
        max-width: 1440px;
        margin: 0 auto;
    }

    .row-1{
        flex-direction: row;
    }
    .row-2{
        display: flex;
    }

    .wrapper{
        display: flex;
        justify-content: space-between;
        width: 95%;
        align-items: center;
    }

    .nav{
        display: block;

    }
    .nav-list{
        display: flex;
        list-style: none;
        justify-content: flex-end;
        width: 100%;
        font-family: 'Barlow', sans-serif;
        align-items: center;
        flex-grow: 1;

    }

    .nav-list a{
        text-decoration: none;
        color:#fff;
        font-size: 1.3rem;
    }

    .nav-items + .nav-items{
        margin-left: 3em;
    }
   .nav-btn{
       font-family: 'Fraunces', sans-serif;
       text-transform: uppercase;
       background-color: #fff;
       padding: 1.2em 2em;
       border: none;
       border-radius: 100px;

   }
   .nav-btn a{
        color: black;
        font-size: 1rem;
   }
   .hero-message {
       top: 50%;
       left: 50%;
       transform: translate(-50%,-50%);
    }

    .hero-title{
        width: 100%;
    }
    .hero-arrow {
        width: 2rem;
        margin: 3.8em auto;
    }

    .brand-info,
    .image-column{
        flex-basis: 50%;
    }

    .brand-info{
        text-align: left;
        position: relative;
        
    }
    .transform-text{
        position: absolute;
        margin: 0 auto;
        width: 70%;
        /* border: 1px solid red; */
        padding: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .brand-info .section-p{
        margin:1.5em 0;
        /* border: 1px solid blue; */
        padding: 0;
    }

    .brand-info .section-title{
        width:70% ;
        padding-top: 0;
    }

    .services-row{
        display: flex;
    }
    .services-p{
        width: 60%;
    }
    .photography-services-p{
        width: 55%;
    }
    .testimonials-row{
        display: flex;
        align-items: center;
    }
    .client-card + .client-card{
        margin-top: 0;
    }
    .client-testimony{
        width: 75%;
    }
    .testimonials{
        padding: 15em 0;
    }
    .gallery-row{
        flex-wrap: nowrap;
    }
}